asgiref==3.11.0
daphne==4.1.2
dj-database-url==3.1.1
Django==5.2.10
django-cors-headers==4.9.0
django-extensions==3.2.3
channels==4.1.0
channels-redis==4.1.0
djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
gunicorn==25.1.0
packaging==26.0
psycopg2-binary==2.9.11
PyJWT==2.10.1
python-dotenv==1.2.1
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2025.3
whitenoise==6.11.0
